body {
	margin: auto;
	background: gray;
}
.container {
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

.header {
	display: flex;
	height: 90px;
	background: #fff;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 0.1em;
}
.title {
	margin-left: 45px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	margin: 0 0 0 auto;
	margin-right: 40px;
}
.menu-image {
	max-width: 50px;
}
.top-image{
	width: 100%;
}

.main {
	background: #ffeeee;
}
.main-content {
	margin: auto;
}
.about, .works, .contact {
	margin: 90px 60px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.about-title, .works-title, .contact-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.cat-image {
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

.about-content {
	display: flex;
	margin: 30px;
	justify-content: center;
}
.profile {
	flex: 2;
	margin-right: 10%;
}
.profile-img {
	max-width: 100%;
	border-radius: 10%;
}
.introduction {
	flex: 4;
}

.works-content {
	margin:30px;
}
.works-item {
	display: flex;
	justify-content: center;
}
.arts-item {
	margin: 0px 10% 0px 0px;
	max-width: 100%;
}
.programs-item {
	margin: 0px 0px 0px 0px;
	max-width: 100%;
}
.arts-text {
	margin: -55px 0px 0px 73px;
}
.programs-text {
	margin: -55px 0px 0px 53px;
}

.contact-content {
	margin: 30px;
}
.contact-item {
	display: flex;
	justify-content: center;
}
.twitter-item, .pixiv-item {
	margin: 0px 5% 0px 0px;
}
.github-item {
	margin: 0px 0px 0px 0px;
}
.contact-image {
	max-width: 40px;
}
.mail {
	text-align: center;
}

.footer {
	height: 90px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.normal-text {
	color: #6b1d1e;
}
h1, h2, h3 {
	font-weight: normal;
}

a {
	text-decoration: none;
}
