body {
	margin: 0;
}
header {
	background-color: #eeeeee;
}

.headerInner {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerInner, .mainInner, .footerInner {
	max-width: 650px;
	margin: auto;
	padding: 0 20px;
}

.cat {
	display: inline;
	font-weight: normal;
}

footer {
	background-color: #eeeeee;
	margin-top: auto;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.footerInner {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
